[data-theme="dark"] {
  background-color: #333333 !important;
  color: #eee;
}

[data-theme="dark"] .bg-light {
  background-color: #343a40 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #343a40 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}

[data-theme="dark"] .card {
  background-color: #343a40 !important;
}

[data-theme="dark"] .border {
  background-color: #333333 !important;
}

[data-theme="dark"] .text-dark {
  color: #eee !important;
}

[data-theme="dark"] .jumbotron {
  background-color: #343a40 !important;
}

[data-theme="dark"] .btn-light {
  background-color: #696969 !important;
  border: #696969;
}

[data-theme="dark"] .card-body {
  background-color: #343a40 !important;
}

[data-theme="dark"] .border-light {
  border: #333333 !important;
}

[data-theme="dark"] .carousel .text-muted {
  color: #eeeeee !important;
}

[data-theme="dark"] .badge-light {
  background-color: #696969 !important;
}

[data-theme="dark"] .modal-content {
  background-color: #343a40 !important;
}

.btn .badge-light {
  background-color: #ffffff !important;
}

[data-theme="dark"] .close {
  color: #ffffff !important;
}

[data-theme="dark"] .dropdown-menu {
  background-color: #48515a !important;
  color: #eeeeee;
}

[data-theme="dark"] .dropdown-item {
  background-color: #48515a !important;
  color: #eeeeee;
}

[data-theme="dark"] .main-card {
  background-color: #333333 !important;
  color: #eeeeee;
}

[data-theme="dark"] .main-card .card-body {
  background-color: #333333 !important;
  color: #eeeeee;
}

[data-theme="dark"] .btn-dark {
  background-color: #48515a !important;
  color: #eeeeee;
  border: #48515a;
}