[data-theme="dark"] {
  background-color: #000000 !important;
  color: #eee;
}

[data-theme="dark"] .main-card .card-body {
  background-color: #03080e !important;
  color: #eeeeee;
}

[data-theme="dark"] .main-card .col-md-8 {
  background-color: #03080e !important;
}

[data-theme="dark"] .navbar-dark {
  background-color: #111111 !important;
  color: #eee
}

.navbar-dark {
  background-color: #2f383e !important;
  color: #eee
}

[data-theme="dark"] .card {
  background-color: #03080e !important;
  border-color: #333333;
}

[data-theme="dark"] .card-body {
  background-color: #111111 !important;
}

[data-theme="dark"] .btn .badge-light {
  background-color: #000000 !important;
  color: #eeeeee;
}

.badge-dark {
  background-color: #ff0000 !important;
  color: #eeeeee;
}

.btn-dark {
  background-color: #ff0000 !important;
  color: #eeeeee;
  border: #48515a;
}

.badge-light {
  background-color: #006836 !important;
  color: #eeeeee;
}

.btn-light {
  background-color: #006836 !important;
  color: #eeeeee;
  border: #48515a;
}

[data-theme="dark"] .text-dark {
  color: #eee !important;
}

[data-theme="dark"] .jumbotron {
  background-color: #111111 !important;
}

[data-theme="dark"] .btn-secondary {
  background-color: #202d2e !important;
  border-color: #202d2e;
}

[data-theme="dark"] .popover-body{
  background-color: #111111 !important;
  border-color: #333333;
  color: #eee !important;
}

.btn-primary {
  color: #eeeeee;
}

[data-theme="dark"] .carousel .text-muted {
  color: #eeeeee !important;
}

[data-theme="dark"] .modal-content {
  background-color: #343a40 !important;
}

.btn .badge-light {
  background-color: #ffffff !important;
}

[data-theme="dark"] .close {
  color: #ffffff !important;
}

[data-theme="dark"] .dropdown-menu {
  background-color: #48515a !important;
  color: #eeeeee;
}

[data-theme="dark"] .dropdown-item {
  background-color: #48515a !important;
  color: #eeeeee;
}